{% extends 'layout.html.twig' %}

{% block title %}Modification de {{ user.nickName }}{% endblock %}

{% block form %}{% form_theme profileForm 'bootstrap_5_layout.html.twig' %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-5">
                <h1 class="text-center my-5">Modification de {{ user.nickName }}</h1>
                <div class="text-end my-3">
                    <a class="btn btn-danger" href="{{ path('app_profile_show', {'id': app.user.id}) }}">Retour</a>
                </div>
                {{ include('profile/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>
    </div>
{% endblock %}
