{% extends 'layout.html.twig' %}

{% block title %}Kifékoi{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center my-4">Kifékoi</h1>

    <table class="table">
        <thead>
        <tr>
            {% for day in week %}
                <th>{{ day }}</th>
            {% endfor %}
        </tr>
        </thead>
    </table>
</div>
{% endblock %}
