{% extends 'layout.html.twig' %}

{% block title %}Kimanjou{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center my-4">Kimanjou</h1>

        <table class="table">
            <thead>
                <tr>
                    <th class="text-center align-middle">Utilisateur</th>
                    {% for day in week %}
                        <th class="text-center">{{ day }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <th class="text-end align-middle">{{ user.lastName }}</th>
                        {% for day in week %}
                            <td>
                                {% if userEssai.id == user.id %}
                                    <select class="form-select">
                                        {% for location in locations %}
                                            <option>{{ location.name }}</option>
                                        {% endfor %}
                                    </select>
                                {% else %}
                                    {{ user.nickName }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
