@import "~bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

body {
    background-color: lightgray;
}

// Images de la partie admin
img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 8px;
    margin: 0 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
}

// Liens de la partie admin
a {
    text-decoration: none;
    color: black;
}

// Margin concernant les formulaires
.margin-bottom-form {
    height: 61.5px;
}